<% if @assignment.errors.any? %>
  <% @assignment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h1>Add Assignment</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_assignment" class="form-horizontal">
      <!-- Label and input for building_id -->
      <div class="form-group">
        <label for="building_id" class="col-sm-2 control-label">
          Building
        </label>
        <div class="col-sm-10">
          <input type="text" id="building_id" name="building_id" placeholder="Building" class="form-control" value="<%= @assignment.building_id %>">
        </div>
      </div>

      <!-- Label and input for area_id -->
      <div class="form-group">
        <label for="area_id" class="col-sm-2 control-label">
          Area
        </label>
        <div class="col-sm-10">
          <input type="text" id="area_id" name="area_id" placeholder="Area" class="form-control" value="<%= @assignment.area_id %>">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Create Assignment" class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>
</div>


