<div class="page-header">
  <h1><%= @assignment.building.name %>: Neighborhood</h1>
</div>

<dl class="dl-horizontal">
  <dt>Building</dt>
  <dd><%= @assignment.building.name %></dd>

  <dt>Area</dt>
  <dd><%= @assignment.area.name %></dd>

</dl>
