<div class="page-header">
  <h1>Assignment #<%= @assignment.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Building</dt>
  <dd><%= @assignment.building_id %></dd>

  <dt>Area</dt>
  <dd><%= @assignment.area_id %></dd>

</dl>
