<!DOCTYPE html>
<html>
<head>
  <title>At Home Downtown: Home</title>

  <div class="container-fluid">
    <div class="row">
      <img src="http://i1322.photobucket.com/albums/u575/rozbryant/Skyline_zps56b096d0.jpg" id="bg" alt="">
    </div>
  </div>
</div>
<div class="container">
  <div class="row" height=100px>
    <div class="col-md-12">
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="jumbotron">
          <h2>Search Chicago Condo Buildings</h2>
          <p>Don't just fall in love with an apartment. Make sure the building fits.</p>
          <div class="form-group">

            <%= form_tag :controller => 'buildings', :action => 'search', :method => 'get' do %>
            <%= text_field_tag :search, params[:search], :id => 'search_field' %>
            <%= submit_tag "Search", :name => nil %>

            <% end %>

            <label class="control-label" for="focusedInput">Start here.</label>
            <input class="form-control" id="focusedInput" type="text" value="Trump Tower, 240 E Illinois...">
            <p><a class="btn btn-primary"><i class="fa fa-search fa-2x"></i></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</html>
