<!DOCTYPE html>
<html>
<head>
  <title>At Home Downtown: Home</title>

  <div class="container-fluid">
    <div class="row">
      <img src="http://i1322.photobucket.com/albums/u575/rozbryant/Skyline_zps56b096d0.jpg" id="bg" alt="Chicago Skyline">
    </div>
  </div>
  <div class="container">
    <div class="row" height=100px>
      <div class="col-md-12">
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="jumbotron">
            <h2>Search Chicago Condo Buildings</h2>
            <p>Don't just fall in love with an apartment. Make sure the building fits.</p>
            <% if current_user.present? %>
            <div class="form-group">
              <label class="control-label" for="focusedInput">Start here.</label>
              <form action="/_search" class="form-horizontal">
                <%= form_tag :controller => 'buildings', :action => 'search', :method => 'get' do %>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "Search", :name => nil %>
              </form>
              <% end %>
              <% else %>
              <a href="/users/sign_up" class="btn btn-warning btn-lg">Sign Up</a> OR <a href="/users/sign_in" class="btn btn-warning btn-lg">Sign In</a>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </html>
