<div class="page-header">
  <h1>Neighborhoods</h1>
</div>
<% if current_user.present? %>
<p><a href="/areas/new" class="btn btn-primary">Add a New Area</a></p>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Neighborhoods</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6 col-md-3">
              <% @areas.each do |area| %>
              <a href="/areas/<%= area.id %>" class="thumbnail" align="center"><%= area.name %></a>
            </div>
            <div class="col-xs-6 col-md-3">
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  </html>
  <% else %>
Please <a href="/users/sign_in">sign in</a> to view.
<% end %>

