<div class="page-header">
  <h1>Favoriting #<%= @favoriting.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Building</dt>
  <dd><%= @favoriting.building.name %></dd>

  <dt>Favorited by</dt>
  <dd><%= @favoriting.user.email %></dd>

</dl>
